h6 {
    position: absolute;
    top: 110px; 
    left: 0.5rem;
    margin: 0;
  }



  #div1 {
    margin-right: 0;
    padding-right: 0;
 }
 
 

div {
  float: left;
  width: 50%;
  padding: 20px;
}



body ,div {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #0f0;
    padding: 0em;
    overflow-x: hidden;
    align-content:flex-end;
    box-sizing: border-box; 
}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }
  nav ul {
    display: flex;
    list-style: none;
    padding: 0;
  color: rgb(0, 255, 0);
  }
  
  nav li , a{
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #0f0;
    text-decoration: none;
  }
  
  nav :hover {
    color: red;
  }



h3 { align-items: center;}


 
footer {
        position : absolute;
        width: 100%;
        height: 5px;
        font-size: 15px;
        bottom: 0;
        align-items: center;
        padding-bottom: 0%;
        text-align: center;
        margin: 0;
    }

select{
    background-color: #FFFFFF; /* White color */
    color: #000000; /* Black color */
    font-size: 18px;
    padding: 10px;
    border: 1px solid #9CA8B3; /* Windows grey color */
    border-radius: 4px;
  
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%239CA8B3' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E"); /* Add Windows style dropdown arrow */
    background-repeat: no-repeat;
    background-size: 1px 1px;
}
input[type="email"] {
  background-color: #FFFFFF; /* White color */
  color: #000000; /* Black color */
  font-size: 13px;
  padding: 7px;
  border: 1px solid #9CA8B3; /* Windows grey color */
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  width: 20%; /* Set the width to 100% of the container */
}





